<%- include("includes/header"); %>

<div class="container">

    <h3>Adicionar Agenda</h3>
    <hr>

    <form method="POST" action="/agendas/create">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="/tasks" class="btn btn-secondary">Cancelar</a>
    </form>

</div>

<%- include("includes/footer"); %>
